* {
  margin: 0;
  padding: 0;
}

.all_site {
  max-width: 100%;
  font-family: Lato;
}

.top {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo_search {
  display: flex;
  padding-left: calc(50% - 570px);
  gap: 41px;
}

.search:hover {
  transform: rotate3d(1, 1, 0, 1800deg);
  transition: 5000ms;
}

.buttons {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  padding-right: calc(50% - 590px);
  padding-bottom: 20px;
}

.buttons .menu {
  padding-top: 5px;
}

.title_header {
  background-color: #f1e4e6;
  display: flex;
  position: relative;
}

/* .pop_up_menu{
  display: none;
} */

.pop_up_menu {
  /* position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-color: #ffffff;
  width: 232px;
  padding: 32px;
  font-size: 14px;
  font-weight: 400;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.21));
   */
  opacity: 0;
}

.pop_up_menu:hover {
  transition: 200ms;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background-color: #ffffff;
  width: 232px;
  padding: 32px;
  font-size: 14px;
  font-weight: 400;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.21));
  opacity: 1;
}

.title_pop_up {
  color: #000000;
  font-weight: 700;
}

.persons {
  color: #f16d7f;
}

.chapter {
  padding-left: 15px;
}

.main_img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  padding-left: 50px;
}

.main__img {
  width: 90%;
}

.title_right_part {
  display: flex;
  align-items: center;
  gap: 16px;
}

.rectangle {
  background: #f16d7f;
  height: 92px;
  width: 12px;
}

.brand {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.luxe {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fashion {
  color: #f16d7f;
}

.product {
  display: flex;
  padding-top: 65px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.for_ {
  display: flex;
  gap: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.for {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 260px;
  min-width: 360px;
}

.women {
  background: url(img/img_for_women.svg), lightgray 50% / cover no-repeat;
}

.men {
  background: url(img/img_for_men.svg), lightgray 50% / cover no-repeat;
}

.kids {
  background: url(img/img_for_kids.svg), lightgray 50% / cover no-repeat;
}

.accesories {
  height: 180px;
  background: url(img/accesories.svg), lightgray 50% / cover no-repeat;
}

.img_text {
  background: rgba(33, 22, 22, 0.7);
  height: 100%;
}

.img_text:hover {
  transition: all 500ms ease;
  background: none;
  height: 100%;
}

.text {
  padding-top: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.up_text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.down_text {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txt_accesories {
  padding: 5%;
}

.fetured_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
}

.title_fetured_itemas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.title_fetured_text {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle_fetured_text {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 48px;
}

.block_items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 30px;
  margin: 0px 250px;
}

.first_three {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.second_three {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.item {
  display: flex;
  background-color: #f8f8f8;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 360px;
}

.item:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.02);
  filter: drop-shadow(2px 2px);
}

.second {
  display: flex;
  align-items: center;
  background-color: #f7e4e2;
}

.img_item3 {
  padding-left: 25%;
}

.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 5px;
}

.title_description {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_description {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse {
  margin-top: 48px;
  margin-bottom: 60px;
  width: 212px;
  height: 48px;
  border: 1px solid #ff6a6a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.browse_text {
  border-color: #ff6a6a;
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.browse:hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.browse:hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.browse:hover:active {
  color: #000;
}

.browse:hover:active:after {
  background: transparent;
}

.browse:hover:hover:before {
  opacity: 1;
}

.browse:hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.top_footer {
  width: 100%;
  min-height: 350px;
  display: flex;
  background-color: #222224;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
  padding-top: 48px;
  padding-bottom: 64px;
}

.block_footer {
  width: 360px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.block_footer .title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
}

.block_footer .subtitle {
  color: #c2c2c2;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.midle_footer {
  background: url(img/photo\ subscribe.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.vestibulum {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 48px;
}

.text_vestibulum {
  color: #222224;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.italic {
  font-style: italic;
}

.subscribe {
  width: 360px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.sub {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.promotion {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.for_sub {
  width: 99px;
  height: 49px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.email_button{
  display: flex;
  flex-direction: row;
  
}

.email {
  width: 257px;
  height: 49px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  background-color: #e1e1e1;
}

.email::placeholder {
  padding-left: 12px;
}

.end_footer {
  background-color: #222224;
  height: 79px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

.brand_2022 {
  padding-left: 10px;
  color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
}

.social {
  padding-right: 10px;
  display: flex;
  gap: 7.29px;
  justify-content: center;
  flex-direction: row;
}

.soc {
  display: flex;
  background-color: #ffffff;
  width: 32px;
  height: 32px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.soc:hover {
  background-color: #0e9280;
  filter: invert(100%);
}
.soc:hover .img {
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .brand {
    font-size: 44px;
  }
  .luxe {
    font-size: 24px;
  }
  .for {
    height: 167px;
    min-width: 232px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .accesories {
    height: 116px;
  }
  .block_items {
    margin: 0px 0px;
  }
}

@media (max-width: 767px) {
  .main_img {
    display: none;
  }
  .title_right_part {
    display: flex;
    margin: 148px 56px;
  }
  .brand {
    font-size: 38px;
  }
  .luxe {
    font-size: 20px;
  }
  .txt_accesories {
    padding: 15%;
  }
  .end_footer {
    gap: 20px;
    padding: 40px 0px 10px 0px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
